@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;

		--orange-9: hsl(24, 94%, 50%);
		--mint-9: hsl(167, 65%, 66%);
		--green-6: hsl(143, 40.3%, 79%);
		--green-9: hsl(151, 55%, 41.5%);
		--red-6: hsl(360, 81.7%, 87.8%);
		--red-9: hsl(358, 75%, 59%);
		--violet-7: hsl(252, 71%, 83.7%);
		--crimson-9: hsl(336, 80%, 57.8%);
		--cyan-9: hsl(190, 95%, 39%);
		--blue-9: hsl(206, 100%, 50%);

		--slate-1: hsl(206, 30%, 98.8%);
		--slate-2: hsl(210, 16.7%, 97.6%);
		--slate-3: hsl(209, 13.3%, 95.3%);
		--slate-4: hsl(209, 12.2%, 93.2%);
		--slate-5: hsl(208, 11.7%, 91.1%);
		--slate-6: hsl(208, 11.3%, 88.9%);
		--slate-7: hsl(207, 11.1%, 85.9%);
		--slate-8: hsl(205, 10.7%, 78%);
		--slate-9: hsl(206, 6%, 56.1%);
		--slate-10: hsl(206, 5.8%, 52.3%);
		--slate-11: hsl(206, 6%, 43.5%);
		--slate-12: hsl(206, 24%, 9%);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			color-scheme: dark;

			--green-6: hsl(154, 50.9%, 17.6%);
			--red-6: hsl(356, 55.2%, 25.9%);
			--violet-7: hsl(250, 46.8%, 38.9%);

			--slate-1: hsl(200, 7%, 8.8%);
			--slate-2: hsl(195, 7.1%, 11%);
			--slate-3: hsl(197, 6.8%, 13.6%);
			--slate-4: hsl(198, 6.6%, 15.8%);
			--slate-5: hsl(199, 6.4%, 17.9%);
			--slate-6: hsl(201, 6.2%, 20.5%);
			--slate-7: hsl(203, 6%, 24.3%);
			--slate-8: hsl(207, 5.6%, 31.6%);
			--slate-9: hsl(206, 6%, 43.9%);
			--slate-10: hsl(206, 5.2%, 49.5%);
			--slate-11: hsl(206, 6%, 63%);
			--slate-12: hsl(210, 6%, 93%);
		}
	}
}
